{% extends "base.html" %}
{% block title %}Uniform Inspection Selector{% endblock %}
{% block content %}

<h1>Welcome to the Uniform inspections module, {{ cMid.fName }} {{ cMid.LName }}.</h1>

<h3>Enter Uniform Inspection for: </h3>

<form action="uInsSubmit" method="post">
{% csrf_token %}
    <select name = 'mid'>    
        {% for p in lMids %}
            <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }}</option>
        {% endfor %}
    </select><br /><br />
    <input type="submit" value="Enter Uniform Inspection" />
</form>

</table>

{% endblock %}