{% extends "base.html" %}
{% block title %}Attendance{% endblock %}
{% block content %}

<h1>Welcome to the Attendance module, {{ cMid.fName }} {{ cMid.LName }}.</h1>

<h3>Enter a new attendance record:</h3>

<form action="saveAttendance" method="post">
{% csrf_token %}

<table>

<tr><td colspan = 2>
    {% for p in lEvents %}
        <select name = "event">
            <option value = "{{ p.id }}">{{ p }}</option>
        </select>
    {%endfor%}
</td></tr>

</td></tr>
{% for p in lMids%}
    <tr><td>{{ p }}</td>
    <td>
        <select name = {{ p.alpha }}'A'>
            <option value = "P">Present</option>
            <option value = "A">Absent</option>
            <option value = "U">U/A</option>
            <option value = "E">Excused</option>
        </select>
    </td></tr>
{%endfor%}
    <tr><td colspan = 2><input type="submit" value="Send" /></td></tr>
</form>
</table>

{% endblock %}