{% extends "base.html" %}

{% block title %}Appoint Company Commander{% endblock %}

{% block content %}

<h3>Select a midshipman to serve as a Company Commander.</h3>

{%if not cBillet%}
    Currently there is no Company Commander.
{% else %}
    Current Company Commander is {{ cBillet.mid }}. His term as a Company Commander is due 
    to expire on {{ cBillet.endDate }}. Appointing a new Company Commander will remove current 
    CC from office, effective immediately. 
{%endif%}
<br /><br />
<form action="saveAppointCC" method="post">
{% csrf_token %}
    <select name = 'alpha'>    
        {% for p in lMids %}
            <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
        {% empty %}
            <option value = "null">N/A</option>
        {% endfor %}
    </select><br /><br />
    
    End of term: <input type = "input" name = "endDate" /><br /><br />
    
    <input type="submit" value="Appoint, starting immediately" />
</form>

{% endblock %}