{% extends "base.html" %}

{% block title %}CMS - Login{% endblock %}


{% block content %}
  <h1>Login to the Company Management Database</h1>
  
  {% if error_message %}
      <p><strong>{{ error_message }}</strong></p>
  {% endif %}
  
  {% if repeat %}
      <h3>Incorrect credentials. Try again.</h3>
  {% endif %}
  
  {% if noUser %}
      <h3>User exists, but is not in MIDS database. Contact your system administrator.</h3>
  {% endif %}
  
  <form action="login" method="post">
      {% csrf_token %}
     <input type="text" name="username" /><br /><br />
     <input type="password" name="password" /><br /><br />
     <input type="submit" value="Login" />
     <input type="button" value="Forgot Password?" onclick="alert('Please Contact Your Company Administration Officer');" />
  </form>
  
<p><a href = "http://code.google.com/p/company-management-system/issues/">Please submit an issue to our tracker here</a></p>
<p> Available users to login with for testing purposes (user/pass) </p>
<p> the password reset form resets the users password to their alpha </p>
<p> m113666/1</p>
<p> Any mid from 5th batt should work... we put ~900 users into the system </p>
<p> The passwords for all the users is 1</p> 

{% endblock %}