{% extends "base.html" %}

{% block title %}CMS - Login{% endblock %}


{% block content %}
  <h1>Login to the Company Management Database</h1>
  
  {% if error_message %}
      <p><strong>{{ error_message }}</strong></p>
  {% endif %}
  
  {% if repeat %}
      <h3>Incorrect credentials. Try again.</h3>
  {% endif %}
  
  {% if noUser %}
      <h3>User exists, but is not in MIDS database. Contact your system administrator.</h3>
  {% endif %}
  
  <form action="login" method="post">
      {% csrf_token %}
     <input type="text" name="username" /><br /><br />
     <input type="password" name="password" /><br /><br />
     <input type="submit" value="Login" />
  </form>
  
    <br />
    <br />
    Ryan, here is a quick tasking for you. We can not do actual password recovery system, <br />
    since we do not store passwords in the databse. Can you please create a button or link <br />
    somewhere on this page that would generate a pop up window that will direct people <br />
    to their company Admin officer for password resets? Thanks!
    <br />
    <br />
    On an unrelated note, a link for the Weekends module in the admin interface is fubarred. <br />
    Can one of Mikes please fix that? It is hard to test weekends module when I can not erase <br />
    requested weekends. Yet again, thanks! 
    <br />
    <br />
    Note to self - I should remember to turn on timeline function in Weekends. Shut down for<br />
    testing purposes. 
    <br />
    <br />
    Hatley
  
{% endblock %}