{% extends "base.html" %}

{% block title %}CMS - Homepage{% endblock %}

{% block content %}
    <h1>Welcome {{ mid.fName|lower|capfirst }} {{ mid.LName|lower|capfirst }}.</h1>
    <ul>
        <li>Weekends:
            <ul>
                <li><a href = "weekends/">Request Weekends</a></li>
                <li><a href = "weekends/view">View Weekend List</a></li>
            </ul>
        </li><br />
        
        <li>Movement Orders:
            <ul>
                <li><a href = "movementOrders/">Check-out/Check-in</a></li>
                <li><a href = "movementOrders/viewMOListCompany">View current MO-s for company</a></li>
            </ul>
        </li><br />
        
        <li>Chits/Paperwork:
            <ul>
                <li><a href = "form1/">Review Form-1s</a></li>
                {% if firstie %}
                <li><a href = "formOne/formOneSelect">Enter Form-1</a></li>
                {% endif %}
                <li><a href = "medchits/">Medical Chits</a></li>
                <li><a href = "specReq/">Special Request Chits</a></li>
                <li><a href = "ORM/">ORM Chits</a></li>
            </ul>
        </li><br />
        
        <li>Inspections:
            <ul>
                <li><a href = "bIns/">Review Room Inspections</a></li>
                {% if firstie %}
                <li><a href = "bIns/bInsSelect">Enter Bravo Room Inspection</a></li>
                {% endif %}
                <li><a href = "uIns/">Review Uniform Inspections</a></li>
                {% if firstie %}
                <li><a href = "uIns/uInsSelect">Enter Uniform Inspection</a></li>
                {% endif %}
            </ul>
        </li><br />
        
        
        <li><a href = "mid/viewDiscipline">View Restrictions/Probations/Tours</a></li>
        <li><a href = "mid/editPersonalInformation">Personal Information</a></li>
        <li><a href = "mid/selectPassChange">Change Password</a></li>
        <li><a href = "logout">Log out</a></li>
    </ul>
    
    {% if CC %}
    <h3>Company Commander options:</h3>
    <ul>
        <li><a href = "mid/assignCOC">Appoint midshipmen to Company leadership positions</a></li>
        <li><a href = "mid/assignBillets">Appoint midshipmen to Company Staff positions</a></li>
    </ul>
    {%endif%}
    
    {% if ADJ %}
    <h3>Company Adjutant options:</h3>
    <ul>
        <li><a href = "companywatch/AcYear">Create Duty Calendar</a></li>
    </ul>
    {%endif%}
    
    {% if Aptitude %}
    <h3>Aptitude/Conduct Officer options: </h3>
    <ul>
        <li><a href = "mid/assessDiscipline">Maintain Restriction/Tours</a></li>
        <li><a href = "mid/enterDiscipline">Enter Restriction/Tours</a></li>
        <li><a href = "mid/enterProbation">Enter Probation</a></li>
    </ul>
    {% endif %}
    
    {% if PMO%}
    <h3>Physical Mission Officer options: </h3>
    <ul>
        <li><a href = "mid/PRTSat">Physical Status</a></li>
    </ul>
    {% endif %}
    
    {% if admin%}
    <h3>Admin Officer options: </h3>
    <ul>
        <li><a href = "weekends/admin">View/Edit number of weekends</a></li>
        <li><a href = "mid/selectUser">Edit/Add user</a></li>
        <li><a href = "mid/selectPassReset">Restore user's password</a></li>
    </ul>
    {% endif %}
{% endblock %}