    <h1>{{ mid.fName }} {{ mid.LName }} logged in successfully.</h1>
    
    <h3>What would you like to do?</h3>
    
    <ul>
        <li><a href = "weekends/">Weekends</a></li >
        <li><del><a href = "MID/">Personal Information</a></del></li >
        <li><del><a href = "">Chits</a><</del>/li >
        <li><del><a href = "Form1/">Form-1</a></del></li >
        <li><del><a href = "Bravo_Inspection/">Room Inspections</a></del></li >
        <li><del><a href = "Uniform_Inspection/">Uniform Inspections</a></del></li >
        <li><a href = "logout">Log out</a></li >
    </ul>