{% extends "base.html" %}

{% block title %}Appoint Company Chain of Command members{% endblock %}

{% block content %}

<h3>Select midshipmen to serve in the Company Chain of Command.</h3>
    
<table>
<form action="saveAssignCOC" method="post">
{% csrf_token %}
    <tr>
        <td>Billet: </td>
        <td>Current billet holder:</td>
        <td>Start of tenure:</td>
        <td>Change to: </td>
    </tr>
    
    <tr>
    {% if not PC1 %}
        <td colspan = 3>Currently there is no First Platoon Commander</td>
    {% else %}
        <td>First Platoon Commander: </td><td>{{ PC1.mid }}</td><td>{{ PC1.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'PC1'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not PC2 %}
        <td colspan = 3>Currently there is no Second Platoon Commander</td>
    {% else %}
        <td>Second Platoon Commander: </td><td>{{ PC2.mid }}</td><td>{{ PC2.startDate }}</td>
    {%endif%}
        <td>
            <select name = 'PC2'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not PC3 %}
        <td colspan = 3>Currently there is no Third Platoon Commander</td>
    {% else %}
        <td>Third Platoon Commander: </td><td>{{ PC3.mid }}</td><td>{{ PC3.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'PC3'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not PC4 %}
        <td colspan = 3>Currently there is no Fourth Platoon Commander</td>
    {% else %}
        <td>Fourth Platoon Commander: </td><td>{{ PC4.mid }}</td><td>{{ PC4.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'PC4'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not PLTS1 %}
        <td colspan = 3>Currently there is no First Platoon Sargeant</td>
    {% else %}
        <td>First Platoon Sargeant: </td><td>{{ PLTS1.mid }}</td><td>{{ PLTS1.startDate }}</td>
    {%endif%}
        <td>
            <select name = 'PLTS1'>
                <option value = "000000">No change</option>
                {% for p in lMidsTwo %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not PLTS2 %}
        <td colspan = 3>Currently there is no Second Platoon Sargeant</td>
    {% else %}
        <td>Second Platoon Sargeant: </td><td>{{ PLTS2.mid }}</td><td>{{ PLTS2.startDate }}</td>
    {%endif%}
        <td>
            <select name = 'PLTS2'>
                <option value = "000000">No change</option>
                {% for p in lMidsTwo %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not PLTS3 %}
        <td colspan = 3>Currently there is no Third Platoon Sargeant</td>
    {% else %}
        <td>Third Platoon Sargeant: </td><td>{{ PLTS3.mid }}</td><td>{{ PLTS3.startDate }}</td>
    {%endif%}
        <td>
            <select name = 'PLTS3'>
                <option value = "000000">No change</option>
                {% for p in lMidsTwo %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not PLTS4 %}
        <td colspan = 3>Currently there is no Fourth Platoon Sargeant</td>
    {% else %}
        <td>Fourth Platoon Sargeant: </td><td>{{ PLTS4.mid }}</td><td>{{ PLTS4.startDate }}</td>
    {%endif%}
        <td>
            <select name = 'PLTS4'>
                <option value = "000000">No change</option>
                {% for p in lMidsTwo %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL11 %}
        <td colspan = 3>Currently there is no 1-1 Squad Leader</td>
    {% else %}
        <td>1-1 Squad Leader: </td><td>{{ SL11.mid }}</td><td>{{ SL11.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL11'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL12 %}
        <td colspan = 3>Currently there is no 1-2 Squad Leader</td>
    {% else %}
        <td>1-2 Squad Leader: </td><td>{{ SL12.mid }}</td><td>{{ SL12.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL12'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL13 %}
        <td colspan = 3>Currently there is no 1-3 Squad Leader</td>
    {% else %}
        <td>1-3 Squad Leader: </td><td>{{ SL13.mid }}</td><td>{{ SL13.startDate }}</td>
    {%endif%}
        <td>
            <select name = 'SL13'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL21 %}
        <td colspan = 3>Currently there is no 2-1 Squad Leader</td>
    {% else %}
        <td>2-1 Squad Leader: </td><td>{{ SL21.mid }}</td><td>{{ Sl21.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL21'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL22 %}
        <td colspan = 3>Currently there is no 2-2 Squad Leader</td>
    {% else %}
        <td>2-2 Squad Leader: </td><td>{{ SL22.mid }}</td><td>{{ SL22.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL22'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL23 %}
        <td colspan = 3>Currently there is no 2-3 Squad Leaderr</td>
    {% else %}
        <td>2-3 Squad Leader: </td><td>{{ SL23.mid }}</td><td>{{ SL23.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL23'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL31 %}
        <td colspan = 3>Currently there is no 3-1 Squad Leader</td>
    {% else %}
        <td>3-1 Squad Leader: </td><td>{{ SL31.mid }}</td><td>{{ SL31.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL31'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL32 %}
        <td colspan = 3>Currently there is no 3-2 Squad Leader</td>
    {% else %}
        <td>3-2 Squad Leader: </td><td>{{ SL32.mid }}</td><td>{{ SL32.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL32'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL33 %}
        <td colspan = 3>Currently there is no 3-3 Squad Leader</td>
    {% else %}
        <td>3-3 Squad Leader: </td><td>{{ SL33.mid }}</td><td>{{ SL33.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL33'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL41 %}
        <td colspan = 3>Currently there is no 4-1 Squad Leader</td>
    {% else %}
        <td>4-1 Squad Leader: </td><td>{{ Sl41.mid }}</td><td>{{ Sl41.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL41'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL42 %}
        <td colspan = 3>Currently there is no 4-2 Squad Leader</td>
    {% else %}
        <td>Financial Officer: </td><td>{{ SL42.mid }}</td><td>{{ SL42.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL42'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL43 %}
        <td colspan = 3>Currently there is no 4-3 Squad Leader</td>
    {% else %}
        <td>4-3 Squad Leader: </td><td>{{ SL43.mid }}</td><td>{{ Sl43.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL43'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr><td colspan = 4><input type="submit" value="Appoint, starting immediately" /></td></tr>
</form>
</table>

{% endblock %}