<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="media/css/Style.css" />
  </head>
  <body>
    <section id="wrapper">
      <header>
        <!--<img alt="header image" src="media/img/header.jpg" />-->
      </header>
      <section id="notification">
      </section>
      <section id="main">
        {% block content %}
        {% endblock %}
      </section>
      <nav>
        {% include "nav.html" %}
      </nav>
      <footer>
      </footer>
    </section>
  </body>
</html>