<ul id="menu">
     <li>
          <span class="link" onclick="location.href='{% url swithcboard %}';">
               Home
          </span>
     </li>
</ul>
<canvas class="icon" id="weekends" title="Weekends"
	height="60" width="60" 
	onmouseover="iconHighlight(this.id)" 
	onmouseout="iconDraw(this.id)"
	onclick="iconSlider('weekend_menu',this.id)">
	Bummer!
</canvas>
<ul class="menu" id="weekend_menu">
	<li><a href="{% url weekends:weekendIndex %}">Request Weekends</a></li>
	<li><a href="#">View Weekend List</a></li>
</ul>
<canvas class="icon" id="forms" title="Forms"
	height="60" width="60" 
	onmouseover="iconHighlight(this.id)" 
	onmouseout="iconDraw(this.id)"
	onclick="iconSlider('form_menu',this.id)">
	Bummer!
</canvas>
<ul class="menu" id="form_menu">
	<li><a href="{% url form1:form1 %}">Review Form-1s</a></li>
	<li><a href="#">Medical Chits</a></li>
	<li><a href = "{% url specReq:specReq %}">Special Request Chits</a></li>
    <li><del><a href = "#">ORM Chits</a></del></li>
</ul>
<canvas class="icon" id="inspections" title="Inspections"
	height="60" width="60" 
	onmouseover="iconHighlight(this.id)" 
	onmouseout="iconDraw(this.id)"
	onclick="iconSlider('inspection_menu',this.id)">
	Bummer!
</canvas>
<ul class="menu" id="inspection_menu">
	<li><a href = "#">Review Room Inspections</a></li>
    <li><a href = "#">Review Uniform Inspections</a></li>
</ul>
<canvas class="icon" id="personalInformation" title="Personal Information"
	height="60" width="60" 
	onmouseover="iconHighlight(this.id)" 
	onmouseout="iconDraw(this.id)"
	onclick="iconSlider('personal_information_menu',this.id)">
	Bummer!
</canvas>
<ul class="menu" id="personal_information_menu">
	<li><a href = "{% url mid:passChange %}">Change Password</a></li>
</ul>