{% if user.is_authenticated %}
	<ul>
	{% if cMid %}
		<li><a href='{% url switchboard %}'>Home</a></li>
		<li><a href='#'>Weekends</a>
			<ul>
				<li><a href='{% url weekends:weekendIndex %}'>Request Weekends</a></li>
				<li><a href='{% url weekends:viewList %}'>View Weekend List</a></li>
			</ul>
		</li>
		<li><a href="#">Movement Orders</a>                
			<ul>
				<li><a href="{% url movementorder:MO %}">Check In/Out</a></li>
			</ul>                
		</li>
		<li><a href='#'>Forms</a>                
			<ul>
				<li><a href='{% url form1:form1 %}'>Form-1s</a></li>
				<li><a href='{% url medchits:medchits %}'>Medical Chits</a></li>
				<li><a href='{% url specialrequestchit:specReq %}'>Special Request Chits</a></li>
				<li><a href='#'>ORM Chits</a></li>
			</ul>                
		</li>
		<li><a href='#'>Inspections</a>                
			<ul>
				<li><a href="{% url bIns:bravoinspection %}">Review Room Inspections</a></li>
				{% if cMid.rank == "1" %}
					<li><a href="{% url bIns:bInsSelect %}">Enter Bravo Room Inspection</a></li>
				{% endif %}
				<li><a href="{% url uIns:uIns %}">Review Uniform Inspections</a></li>
				{% if cMid.rank == "1"  %}
					<li><a href="{% url uIns:uInsSelect %}">Enter Uniform Inspection</a></li>
				{% endif %}
			</ul>                
		</li>
		<li><a href='#'>Personal Information</a>                
			<ul>
				<li><a href="{% url mid:viewDiscipline %}">View Discipline</a></li>
				<li><a href="{% url accountability:viewAttendance %}">View Attendance</a></li>
				<li><a href="{% url mid:editPersonalInformation %}">Personal Information</a></li>
				<li><a href="{% url mid:passChange %}">Change Password</a></li>
			</ul>
		</li>
		<li><a href="#" class="parent">CDO Options</a></li>
		{% if "CC" in lBillets|safe %}
			<li><a href='#'>Company Commander</a>
				<ul>
					<li><a href = "zero8/selectReport">View 0800 report</a></li>
					<li><a href = "mid/pendingApproval">Chits Pending Approval</a></li>
					<li><a href = "mid/viewSubordinates">View Subordinates</a></li>
					<li><a href = "accountability/cancelEvent">Cancel formation/Event</a></li>
					<li><a href = "mid/assignCOC">Appoint midshipmen to Company leadership positions</a></li>
					<li><a href = "mid/assignBillets">Appoint midshipmen to Company Staff positions</a></li>
				</ul>
			</li>
		{% endif %}
		{% if "XO" in lBillets|safe %}
			<li><a href='#'>Executive Officer</a>
				<ul>
					<li><a href = "{% url mid:viewSubordinates %}">View Subordinates</a></li>
				</ul>
			</li>
		{% endif %}
		{% if "PC" in lBillets|safe %}
			<li><a href='#'>Platoon Commander</a>
				<ul>
					<li><a href = "{% url mid:viewSubordinates %}">View Subordinates</a></li>
					<li><a href = "{% url mid:pendingApproval %}">Chits Pending Approval</a></li>
				</ul>
			</li>
		{% endif %}
		{% if "PLTS" in lBillets|safe %}
			<li><a href='#'>Platoon Sergeant</a>
				<ul>
					<li><a href = "{% url accountability:enterAttendance %}">Enter Attendance</a></li>
				</ul>
			</li>
		{% endif %}
		{% if "SL" in lBillets|safe %}
			<li><a href='#'>Squad Leader</a>
				<ul>
					<li><a href = "{% url mid:viewSubordinates %}">View Subordinates</a></li>
					<li><a href = "{% url mid:pendingApproval %}">Chits Pending Approval</a></li>
				</ul>
			</li>
		{%endif%}
		{% if "HA" in lBillets|safe %}
			<li><a href='#'>Honor Advisor</a>
				<ul>
				</ul>
			</li>
		{% endif %}
		{% if "OPS" in lBillets|safe %}
			<li><a href='#'>Operations</a>
				<ul>
				</ul>
			</li>
		{%endif%}    
		{% if "AC" in lBillets|safe %}
			<li><a href='#'>Academics</a>
				<ul>
					<li><a href = "{% url mid:ACSat %}">Academic Status</a></li>
				</ul>
			</li>
		{%endif%}
		{% if "SAF" in lBillets|safe %}
			<li><a href='#'>Saftey</a>
				<ul>
					<li><a href = "{% url mid:pendingApproval %}">Chits Pending Approval</a></li>
				</ul>
			</li>
		{%endif%}
		{% if "APT" in lBillets|safe %}
			<li><a href='#'>Aptitude/Conduct</a>
				<ul>
					<li><a href="{% url mid:assessDiscipline %}">Maintain Restriction/Tours</a></li>
					<li><a href="{% url mid:enterDiscipline %}">Enter Restriction/Tours</a></li>
					<li><a href="{% url mid:enterProbation %}">Enter Probation</a></li>
				</ul>
			</li>
		{% endif %}
		{% if "PMO" in lBillets|safe %}
			<li><a href='#'><acronym title="Physical Missions Officer">PMO</acronym></a>
				<ul>
					<li><a href="{% url mid:PRTSat %}">Physical Status</a></li>
				</ul>
			</li>
		{% endif %}
		{% if "ADM" in lBillets|safe %}
			<li>Admin
				<ul>
					<li><a href="{% url weekends:weekendAdmin %}">View/Edit number of weekends</a></li>
					<li><a href="{% url mid:selectUser %}">Edit/Add user</a></li>
					<li><a href="{% url mid:selectPassReset %}">Restore user's password</a></li>
				</ul>
			</li>
		{% endif %}
		{% if "ADJ" in lBillets|safe %}
			<li><a href='#'>Personal Information</a>
				<ul>
					<li><a href = "{% url companywatch:AcYearView %}">Create Duty Calendar</a></li>
				</ul>
			</li>
		{%endif%}
		{% if "PRO" in lBillets|safe %}
			<li><a href='#'>Protocol</a>
				<ul>
				</ul>
			</li>
		{%endif%}            
		{% if "WRD" in lBillets|safe %}
			<li><a href='#'>Wardroom</a>
				<ul>
				</ul>
			</li>
		{%endif%}            
		{% if "DRL" in lBillets|safe %}
			<li><a href='#'>Drill</a>
				<ul>
				</ul>
			</li>
		{%endif%}            
		{% if "SAVI" in lBillets|safe %}
			<li><a href='#'><acronym title="Sexual Assault Victim Intervention">SAVI</acronym></a>
				<ul>
				</ul>
			</li>
		{%endif%}            
		{% if "CMEO" in lBillets|safe %}
			<li><a href='#'><acronym title="Command Managed Equal Opportunity">CMEO</acronym></a>
				<ul>
				</ul>
			</li>
		{%endif%}            
		{% if "FIN" in lBillets|safe %}
			<li><a href='#'>Financial</a>
				<ul>
				</ul>
			</li>
		{%endif%}            
		{% if "FSGT" in lBillets|safe %}
			<li><a href='#'>1st Sergeant</a>
				<ul>
					<li><a href = "{% url accountability:createEvent %}">Create a New Event</a></li>
					<li><a href = "{% url accountability:selectEvent %}">Review Attendance</a></li>
				</ul>
			</li>
		{% endif %}            
		{% if "TRNS1" in lBillets|safe or "TRNS2" in lBillets|safe %}
			<li><a href='#'>Training Sergeant</a>
				<ul>
				</ul>
			</li>
		{%endif%}
		{% if "DRLS" in lBillets|safe %}
			<li><a href='#'>Drill Sergeant</a>
				<ul>
				</ul>
			</li>
		{%endif%}            
		{% if "ADMC" in lBillets|safe %}
			<li><a href='#'>Admin</a>
				<ul>
					<li><a href = "{% url mid:selectUser %}">Edit/Add User</a></li>
					<li><a href = "{% url mid:selectPassReset %}">Restore User's Password</a></li>
				</ul>
			</li>
		{% endif %}
		{% if "MISLO" in lBillets|safe %}
			<li><a href='#'><acronym title="Midshipman Information Systems Liason Officer">MISLO</acronym></a>
				<ul>
				</ul>
			</li>
		{%endif%}
	{% else %}
		<li><a href='{% url switchboard %}'>Home</a></li>
		<li><a href="#" class="parent">Weekends</a>
			<ul>
				<li><a href = "{% url weekends:coApproval %}">Approve Weekends</a></li>
				<li><a href = "{% url weekends:grantWeekends %}">Manually Add Midshipmen</a></li>
				<li><a href = "{% url weekends:weekendIndex %}">View Weekend List</a></li>
			</ul>
		</li>
	{% endif %}
	<li><a href="{% url logout %}">Logout</a></li>
	</ul>
{% else %}
	Please Login
{% endif %}
