body {
  background-color: rgba(107, 144, 218, 1);
  width: 800px;
  position: relative;
  margin-left:auto;
  margin-right:auto;
}

section #wrapper {
  position: relative;
  top: 50px;
  margin-left:auto;
  margin-right:auto;
  background-color: rgba(107, 144, 218, 1);
  width: 800px;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  -moz-box-shadow: 10px 10px 5px #888888; /* Firefox */
  -webkit-box-shadow: 10px 10px 5px #888888; /* Safari and Chrome */
  box-shadow: 10px 10px 5px #888888;
}

header, section #notification, #main, nav, footer {
  padding: 2px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, .2);
  width: 100%;
}

header {
  height: 50px;
}

section #notification {
  height: 10px;
  visibility:hidden;
}

section #main {
  height: 600px;
}

nav {
  height: 50px;
}

footer {
  height: 5%;
}

div.icon {
  top: 5px;
  width: 40px;
  border-bottom-left: 2px 2px;
  border-bottom-right: 2px 2px;
  border-top-left: 2px 2px;
  border-top-right: 2px 2px;
}

th {
  background-color: rgba(0, 0, 240, .8);
}

td #row1 {
  background-color: rgba(50, 50, 255, .8);
}

td #row2 {
  background-color: rgba(50, 150, 255, .8);
}