{% extends "base.html" %}
{% load filters %}

{% block title %}Current Duty Calendar for {{ cCompany|numberToText }} Company: {% endblock %}

{% block content %}

{% csrf_token %}
<form action="AcYearSubmit" methon="post">
<table border=1>
<caption>EDIT VIEW! Fall Semester</caption>
    <tr>
        <td>Start Date: </td><td><input type= "text" name="{{ acYear.fallStart }}" size = 7 /></td>
    </tr>
    <tr>
        <td>6 weeks: </td><td><input type= "text" name="{{ acYear.fall6Weeks }}" size = 7 /></td>
    </tr>
    <tr>
        <td>12 weeks</td><td><input type= "text" name="{{ acYear.fall12Weeks }}" size = 7 /></td>
    </tr>
    <tr>
        <td>Ac Watch</td><td><input type= "text" name="{{ acYear.fallGoldWeekStart }}" size = 7 /></td>
    </tr>
    <tr>
        <td>End Date: </td><td><input type= "text" name="{{ acYear.fallEnd }}" size = 7 /></td>
    </tr>
    <tr>
        <td>Exam Week Start: </td><td><input type= "text" name="{{ acYear.fallXWeekStart }}" size = 7 /></td>
    </tr>
    <tr>
        <td>Exam Week End: </td><td><input type= "text" name="{{ acYear.fallXWeekEnd }}" size = 7 /></td>
    </tr>
    <tr>
        <td>Fall Intersessional Leave Start: </td><td><input type= "text" name="{{ acYear.christmasIntersessionalStart }}" size = 7 /></td>
    </tr>
    <tr>
        <td>Fall Intersessional Leave End:</td><td><input type= "text" name="{{ acYear.christmasIntersessionalEnd }}" size = 7 /></td>
    </tr>
</table>
<table border=1>
<caption>Spring Semester</caption>
    <tr>
        <td>Start Date: </td><td><input type= "text" name="{{ acYear.springStart }}" size = 7 /></td>
    </tr>
    <tr>
        <td>6 weeks: </td><td><input type= "text" name="{{ acYear.spring6Weeks }}" size = 7 /></td>
    </tr>
    <tr>
        <td>12 weeks: </td><td><input type= "text" name="{{ acYear.spring12Weeks }}" size = 7 /></td>
    </tr>
    <tr>
        <td>End Date: </td><td><input type= "text" name="{{ acYear.springEnd }}" size = 7 /></td>
    </tr>
    <tr>
        <td>Exam Week Start: </td><td><input type= "text" name="{{ acYear.springXWeekStart }}" size = 7 /></td>
    </tr>
    <tr>
        <td>Examp Week End: </td><td><input type= "text" name="{{ acYear.springXWeekEnd }}" size = 7 /></td>
    </tr>
    <tr>
        <td>Spring Intersessional Leave Start: </td><td><input type= "text" name="{{ acYear.springIntersessionalStart }}" size = 7 /></td>
    </tr>
    <tr>
        <td>Spring Intersessional Leave End: </td><td><input type= "text" name="{{ acYear.springIntersessionalEnd }}" size = 7 /></td>
    </tr>
</table>
<table border=1>
<caption>Leave Dates</caption>
    <tr>
        <td>Thanksgiving Start: </td><td><input type= "text" name="{{ acYear.thanksgivingStart }}" size = 7 /></td>
    </tr>
    <tr>
        <td>Thanksgiving End: </td><td><input type= "text" name="{{ acYear.thanksgivingEnd }}" size = 7 /></td>
    </tr>
    <tr>
        <td>Chrismas Leave Start: </td><td><input type= "text" name="{{ acYear.christmasStart }}" size = 7 /></td>
    </tr>
    <tr>
        <td>Christmas Leave End: </td><td><input type= "text" name="{{ acYear.christmasEnd }}" size = 7 /></td>
    </tr>
</table>
<table border=1>
<caption>Holidays</caption>
    <tr>
        <td>Labor Day: </td><td><input type= "text" name="{{ acYear.laborDay }}" size = 7 /></td>
    </tr>
    <tr>
        <td>Columbus Day: </td><td><input type= "text" name="{{ acYear.columbusDay }}" size = 7 /></td>
    </tr>
    <tr>
        <td>Veterans Day: </td><td><input type= "text" name="{{ acYear.veteransDay }}" size = 7 /></td>
    </tr>
    <tr>
        <td>MLK Day: </td><td><input type= "text" name="{{ acYear.mlkDay }}" size = 7 /></td>
    </tr>
    <tr>
        <td>Washingon Birthday</td><td><input type= "text" name="{{ acYear.washingtonsBirthday }}" size = 7 /></td>
    </tr>
</table>
<input type="submit" value="Edit this Ac Year" />
</form>
{% endblock %}