{% extends "base.html" %}
{% load filters %}

{% block title %}Enter Probation: {% endblock %}

{% block content %}
<table>
<form action="saveProbation" method="post"> 
{% csrf_token %}
    <table>
    <tr><td colspan = 2>
    <select name = 'alpha'>    
        {% for p in lMids %}
            <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
        {% empty %}
            <option value = "null">N/A</option>
        {% endfor %}
    </select><br /><br />
    </td></tr>
    <tr><td>Date of Adjudication:</td><td><input type = "input" name = "startDate" /></td></tr>
    <tr><td>Days of Probation Awarded:</td><td><input type = "input" name = "daysAwarded" /></td></tr>
    <tr><td>Admin Notes:</td><td><input type = "input" name = "adminNotes" size = 90/></td></tr>
    
    <tr><td><input type="submit" value="Enter" /></td></tr>
    </table>
</form>

{% endblock %}