{% extends "base.html" %}
{% load filters %}

{% block title %}Update Restriction/Tours: {% endblock %}

{% block content %}
    <table>
    <form action="updateDiscipline" method="post"> 
    {% csrf_token %}
    <tr><td>Mid: </td>
    <td>Start date: </td>
    <td>Days/Tours Awarded: </td>
    <td>Days/Tours Remaining: </td>
    </tr>
        {% for p in lR %}
            <tr>
                <td>{{ p.mid }}</td>
                <td>{{ p.startDate }}</td>
                <td>{{ p.daysAwarded }}</td>
                <td>{{ p.daysRemaining }}</td>
                <td><select name = "{{ p.id }}R">
                        <option value = "not">Missed musters</option>
                        <option value = "true">Met all musters</option>
                    </select>
                </td>
            </tr>
        {% empty %}
            <tr><td>No Restrictions to update. </td></tr>
        {% endfor %}

        {% for p in lT %}
            <tr>
                <td>{{ p.mid }}</td>
                <td>{{ p.startDate }}</td>
                <td>{{ p.toursAwarded }}</td>
                <td>{{ p.toursRemaining }}</td>
                <td><select name = "{{ p.id }}T">
                        <option value = "not">Did not march tours</option>
                        <option value = "true">Marched tours</option>
                    </select>
                </td>
            </tr>
        {% empty %}
            <tr><td>No Tours to update. </td></tr>
        {% endfor %}
        
        {% for p in lP %}
            <tr>
                <td>{{ p.mid }}</td>
                <td>{{ p.startDate }}</td>
                <td>{{ p.daysAwarded }}</td>
                <td>{{ p.description }}</td>
            </tr>
        {% empty %}
            No Probations. 
        {% endfor %}
    
    <tr>
        <td colspan = 10><input type="submit" value="Update" /></td>
    </tr>
    </form>
    </table>

{% endblock %}