{% extends "base.html" %}
{% block title %}Bravo Inspection{% endblock %}
{% block content %}

<h1>Enter Bravo Inspection for room {{ cRoom.roomNumber }}.</h1>

<form action="bInsSave" method="post">
{% csrf_token %}
<table>
    <tr>
        <td><input type="checkbox" name="deck" checked="true" /></td>
        <td> Deck mopped clean, swept </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="laundry" /></td>
        <td> No excessive dirty laundry in locker/ No odor emanating </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="mold" /></td>
        <td> No mold in shower and/or shower curtain </td>
    </tr>   
    <tr>
        <td><input type="checkbox" name="door"/></td>
        <td> Door is open at a 90 degree angle when the room is unoccupied </td>
    </tr>
    <tr>
        <td><br /><input type="checkbox" name="electronics" /></td>
        <td><br /> All lights and electrical equipment is shut off </td>
    </tr>   
    <tr>
        <td><input type="checkbox" name="dust" /></td>
        <td> All surfaces clean and dusted </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="bulkheads" /></td>
        <td> Nothing hung from bulkhead, overheads, closets, racks, or doors </td>
    </tr>

    <tr>
        <td><input type="checkbox" name="racks" /></td>
        <td> Racks neatly made with clean linen/pillow in place/no blankets on rack </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="furniture" /></td>
        <td> No unauthorized furniture or appliances present (up to one non issued desk chair allowed per desk) </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="felt" /></td>
        <td> Protective felt pads on sled style chairs </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="gear" /></td>
        <td> No gear adrift </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="conLockers" /></td>
        <td> Confidential lockers locked </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="blinds" /></td>
        <td> Blinds at half mast and open</td>
    </tr>
    <tr>
        <td><input type="checkbox" name="boxes" /></td>
        <td> All boxes and plastic containers are in closet or on shelves </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="corkBoard" /></td>
        <td> Cork board/blotter/desk material appropriate and neatly arranged </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="computer" /></td>
        <td> Computer screensavers are appropriate and in good taste </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="rugs" /></td>
        <td> No rugs in room except shower mat, which must be clean </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="midRegs" /></td>
        <td> Mid Regs/ Uniform Regs and Honor Instruction binders in bracket </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="shower" /></td>
        <td> Shower walls, curtain, and deck clean </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="medicineCabinets" /></td>
        <td> Medicine cabinet clean and neatly arranged </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="brightWork" /></td>
        <td> Brightwork work and mirros clean </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="materialDeficiencies" /></td>
        <td> Material deficiencies documented on the room check-in sheet or updated on ZIDL </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="rifles" /></td>
        <td> All rifles and swords locked </td>
    </tr>
    
    <tr>
        <td colspan = 2><br />Comment: <input type = "text" name = "comment" /> </td>
    </tr>
    
    <tr>
        <td colspan = 2><br /><input type = "submit" value="Submit Inspection" />
            <input type="hidden" name="roomNumber" value="{{cRoom.roomNumber}}"></td>
    </tr>
    
</form>
</table>

{% endblock %}