{% extends "base.html" %}
{% block title %}Form-1{% endblock %}
{% block content %}

<h1>Enter Form-1 for {{ cInspectee.LName }} ({{ cInspectee.alpha }}).</h1>

<form action="form1Save" method="post">
{% csrf_token %}
<table>
    <tr><td>Form type: </td>
        <td>
            <select name = "type">
                <option value = "P">Positive</option>
                <option value = "N">Negative</option>
            </select>
        </td>
    </tr>
    <tr><td>Reason: </td>
        <td>
        <select name = "reason">
            <option value = "A">Appearance</option>
            <option value = "B">Bearing</option>
            <option value = "MT">Motivation</option>
            <option value = "CP">Competence</option>
            <option value = "PRO">Professionalism</option>
            <option value = "PHY">Physical Ability</option>
            <option value = "D">Decision Making</option>
            <option value = "CM">Commitment</option>
            <option value = "MO">Moral</option>
        </select>
        </td>
    </tr>
    <tr><td>Comment: </td>
        <td>
            <textarea name = "comment" cols = 80 rows = 6>
            </textarea>
        </td>
    </tr>
    <tr><td colspan = 2><br /><input type = "submit" value="Submit Form-1" />
             <input type="hidden" name="alpha" value="{{cMid.alpha}}"></td></tr>
</form>
</table>
</form>

{% endblock %}