body {
	position:absolute;
	left: 10%;
	top: 5%;
	background-color: rgba(60, 65, 5130, .8);
	width: 800px;
}

header, section #notification, #main, nav, footer {
   background-color: rgba(255, 255, 255, .8);
	width: 100%;
}

header {
	height: 50px;
}

section #notification {
	height: 10px;
}

section #main {
	height: 600px;
}

nav {
	height: 50px;
}

footer {
	height: 5%;
}

div.icon {
	top: 5px;
	width: 40px;
	border-bottom-left: 2px 2px;
	border-bottom-right: 2px 2px;
	border-top-left: 2px 2px;
	border-top-right: 2px 2px;
}

th {
  background-color: rgba(0, 0, 240, .8);
}

td #row1 {
  background-color: rgba(50, 50, 255, .8);
}

td #row2 {
  background-color: rgba(50, 150, 255, .8);
}