<!DOCTYPE HTML>
<html lang="en" onload="iconDraw('Home')">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/Style.css" />
  </head>
  <body>
    <section id="wrapper">
      <header>
        <img alt="header image" src="{{MEDIA_URL}}img/banner.gif" />
      </header>
      <section id="notification">
      </section>
      <section id="main">
        {% block content %}
        {% endblock %}
      </section>
      <nav>
        {% include "nav.html" %}
      </nav>
      <footer>
      </footer>
    </section>
  </body>
</html>