<ul class="menu">
    <li><a href='{% url switchboard %}'><span>Home</span></a></li>
	<li><a class="parent" href='#'><span>Weekends</span></a>
		<div>
			<ul>
				<li><a href='{% url weekends:weekendIndex %}'><span>Request Weekends</span></a></li>
				<li><a href='#'><span>View Weekend List</span></a></li>
			</ul>
		</div>
	</li>
	<li><a class="parent" href='#'><span>Forms</span></a>
		<div>
			<ul>
				<li><a href='{% url form1:form1 %}'><span>Review Form-1s</span></a></li>
				<li><a href='#'><span>Medical Chits</span></a></li>
				<li><a href='{% url specReq:specReq %}'><span>Special Request Chits</span></a></li>
			    <li><del><span><a href='#'><span>ORM Chits</span></a></del></li>
			</ul>
		</div>
	</li>
	<li>
		<a href='#' class='parent'><span>Inspections</span></a>
		<div>
			<ul>
				<li><a href='#'><span>Review Room Inspections</span></a></li>
			    <li><a href='#'><span>Review Uniform Inspections</span></a></li>
			</ul>
		</div>
	</li>
	<li><a href='#' class='parent'><span>Personal Information</span></a>
		<div>
			<ul>
				<li><a href='{% url mid:passChange %}'><span>Change Password</span></a></li>
			</ul>
		</div>
	</li>
</ul>