{% extends "base.html" %}
{% block title %}Probations/Tours/Restriction{% endblock %}
{% block content %}

<h1>View Punishments: </h1>

{% if cR %}
    You currently have {{ cR.daysRemaining }} days of restriction. <br />
{% endif %}

{% if cT %}
    You currently have {{ cT.toursRemaining }} tours. <br />
{% endif %}

{% if cP %}
    You currently have {{ pDaysLeft }} days of probation remaining. <br />
{% endif %}

<h3>History of Punishments: </h3>
<table>
    {%if lR%}
    <h4>Restrictions:</h4>
    <tr>
        <td>Start Date: </td>
        <td>Days Awarded: </td>
        <td>Days Remaining: </td>
        <td>Admin Notes </td>
    </tr>
    {%endif%}   
    {% for p in lR %}
            <tr>
                <td>{{ p.startDate }}</td>
                <td>{{ p.daysAwarded }} days</td>
                <td>{{ p.daysRemaining }} days</td>
                <td>{{ p.adminNotes }}</td>
            </tr>
    {% empty %}
            <tr><td><h4>No past restrictions.</h4></td></tr>
    {% endfor %}
</table>
<table> 
    {%if lT%}
    <h4>Tours:</h4>
    <tr>
        <td>Start Date: </td>
        <td>Tours Awarded: </td>
        <td>Tours Remaining: </td>
        <td>Admin Notes </td>
    </tr>
    {%endif%}   
    {% for p in lT %}
            <tr>
                <td>{{ p.startDate }}</td>
                <td>{{ p.toursAwarded }} days</td>
                <td>{{ p.toursRemaining }} days</td>
                <td>{{ p.adminNotes }}</td>
            </tr>
    {% empty %}
            <tr><td><h4>No past tours.</h4> </td></tr>
    {% endfor %}
</table>
<table> 
    {%if lP%}
    <h4>Probations:</h4>
    <tr>
        <td>Start Date: </td>
        <td>Days Awarded: </td>
        <td>Admin Notes </td>
    </tr>
    {%endif%}   
    {% for p in lP %}
    <tr>
        <td>{{ p.startDate }}</td>
        <td>{{ p.daysAwarded }}</td>
        <td>{{ p.description }}</td>
    </tr>
    {% empty %}
        <tr><td><h4>No past probations. </h4></td></tr>
    {% endfor %}
</table>

{% endblock %}