body, header, footer, section, div, nav, menu {
  display: block;
}

body {
  background-color: rgba(107, 144, 218, 1);
  width: 800px;
  position: relative;
  margin-left:auto;
  margin-right:auto;
}

#wrapper {
  position: relative;
  top: 10px;
  margin-left:auto;
  margin-right:auto;
  padding: 10px;
  background-color: rgba(100, 125, 150, 1);
  width: 800px;
  border-radius: 5px;
  -moz-box-shadow: 10px 10px 5px #888888; /* Firefox */
  -webkit-box-shadow: 10px 10px 5px #888888; /* Safari and Chrome */
  box-shadow: 10px 10px 5px #888888;
}

header, #notification, #main, nav, footer {
  padding: 2px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, .3);
  width: 100%;
}

header {
  height: 50px;
}

section #notification {
  height: 10px;
  visibility:hidden;
}

section #main {
  height: 550px;
  overflow: auto;
}

nav {
  height: 50px;
  background-color: rgba(100, 125, 200, 1);
  -webkit-box-reflect:below 1px 
  -webkit-gradient(linear, left 
  top, left bottom, from(transparent), 
  color-stop(0.25, transparent), to(black));
}

footer {
  height: 10px;
}
 
div.icon {
  float: left;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid black;
  border-bottom-left-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
  border-top-left-radius: 2px 2px;
  border-top-right-radius: 2px 2px;
}

div.icon: hover {
  background-color: #ffffff;
  border: 1px solid yellow;
  filter:alpha(opacity=100);
  -moz-opacity: 1.0;
  opacity: 1.0;
}

div.icon img{
  width: 40px;
  height: 40px;
}

div.icon img:hover{
  background-color: #ffffff;
  border: 1px solid yellow;
  filter:alpha(opacity=100);
  -moz-opacity: 1.0;
  opacity: 1.0;
}

canvas#icon {
  float: left;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid black;
  border-bottom-left-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
  border-top-left-radius: 2px 2px;
  border-top-right-radius: 2px 2px;
}

ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu {
    display: none;
    width: 200px;
    border: 1px solid #000000;
}

.menu li {
    background-color: rgba(0, 0, 255, .7);
}

.menu li a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.menu li a:hover {
    color: white;
}

th {
  background-color: rgba(0, 0, 240, .8);
}

td #row1 {
  background-color: rgba(50, 50, 255, .8);
}

td #row2 {
  background-color: rgba(50, 150, 255, .8);
}