{% extends "base.html" %}
{% block title %}ORM Chits{% endblock %}
{% block content %}

<h1>Welcome to the ORM module, {{ cMid.fName }} {{ cMid.LName }}.</h1>

<h3>Enter an ORM Chit:</h3>

<form action="addLeisure" method="post">
{% csrf_token %}
		<table border="1" cellpadding="1" cellspacing="0" style="width: 800px; " summary="ORM Safety Worksheet">
			<caption>
				ORM CHIT</caption>
			<tbody>
				<tr>
					<td>
						<strong>Name:</strong></td>
					<td colspan="2">
						&nbsp;</td>
					<td colspan="2">
						<strong>Leave Address:</strong></td>
				</tr>
				<tr>
					<td>
						<strong>Date of Departure:</strong></td>
					<td>
						<input type = "text" name = "dateDepart"/></td>
					<td style="background-color: rgb(204, 204, 204); ">
						&nbsp;</td>
					<td rowspan="2">
						Street</td>
					<td>
						<input type = "text" name = "street1" /></td>
				</tr>
                <tr>
					<td>
						<strong>Date of Return:</strong></td>
					<td>
						<input type = "text" name = "dateReturn"/></td>
					<td style="background-color: rgb(204, 204, 204); ">
						&nbsp;</td>
					<td>
						<input type = "text" name = "street2" /></td>
				</tr>
				<tr>
					<td>
						<strong>Total Days of Leave:</strong></td>
					<td>
						&nbsp;</td>
					<td style="background-color: rgb(204, 204, 204); ">
						&nbsp;</td>
					<td>
						City</td>
					<td>
						<input type = "text" name = "city" /></td>
				</tr>
				<tr>
					<td>
						<strong>Total Days of Travel:</strong></td>
					<td>
						<input type = "text" name = "daysTravel"/></td>
					<td style="background-color: rgb(204, 204, 204); ">
						&nbsp;</td>
					<td>
						State</td>
					<td>
						<input type = "text" name = "state" /></td>
				</tr>
				<tr>
					<td>
						<strong>Travel Ratio:</strong></td>
					<td>
						&nbsp;</td>
					<td style="background-color: rgb(204, 204, 204); ">
						&nbsp;</td>
					<td>
						Zip Code</td>
					<td>
						<input type = "text" name = "zip" /></td>
				</tr>
				<tr>
					<td colspan="4" rowspan="1">
						Travel Ratio should be less than 1/3 of your total leave period</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<td colspan="5" style="background-color: rgb(204, 204, 204); ">
						&nbsp;</td>
				</tr>
				<tr>
					<td colspan="5" style="text-align: center; ">
						<strong>Leisure Activities</strong></td>
				</tr>
				<tr>
					<td colspan="3" rowspan="1" style="text-align: center; ">
						<strong>Activity</strong></td>
					<td style="text-align: center; ">
						<strong>Duration</strong></td>
					<td style="text-align: center; ">
						<strong>RAC</strong></td>
				</tr>
				<tr>
					<td colspan="3" rowspan="1">
						<input type = "text" name = "activity_activity01" /></td>
					<td>
						<input type = "text" name = "activity_duration01" /></td>
					<td>
						<input type = "text" name = "activity_rac01" /></td>
				</tr>
				<tr>
					<td colspan="3" rowspan="1">
						<input type = "text" name = "activity_activity02" /></td>
					<td>
						<input type = "text" name = "activity_duration02" /></td>
					<td>
						<input type = "text" name = "activity_rac02" /></td>
				</tr>
				<tr>
					<td colspan="3" rowspan="1">
						<input type = "text" name = "activity_activity03" /></td>
					<td>
						<input type = "text" name = "activity_duration03" /></td>
					<td>
						<input type = "text" name = "activity_rac03" /></td>
				</tr>
                <tr>
					<td colspan="3" rowspan="1">
						<input type = "text" name = "activity_activity04" /></td>
					<td>
						<input type = "text" name = "activity_duration04" /></td>
					<td>
						<input type = "text" name = "activity_rac04" /></td>
				</tr>
                <tr>
					<td colspan="3" rowspan="1">
						<input type = "text" name = "activity_activity05" /></td>
					<td>
						<input type = "text" name = "activity_duration05" /></td>
					<td>
						<input type = "text" name = "activity_rac05" /></td>
				</tr>
				<tr>
					<td colspan="5" style="background-color: rgb(204, 204, 204); ">
						&nbsp;</td>
				</tr>
				<tr>
					<td colspan="5" style="text-align: center; ">
						<strong>Methods of Travel</strong></td>
				</tr>
				<tr>
					<td style="text-align: center; ">
						<strong>Departure Time</strong></td>
					<td style="text-align: center; ">
						<strong>Arrival Time</strong></td>
					<td style="text-align: center; ">
						<strong>Method</strong></td>
					<td style="text-align: center; ">
						<strong>Distance</strong></td>
					<td style="text-align: center; ">
						<strong>RAC</strong></td>
				</tr>
				<tr>
					<td>
						<input type = "text" name = "travel_depart01" /></td>
					<td>
						<input type = "text" name = "travel_arrive01" /></td>
					<td>
						<input type = "text" name = "travel_method01" /></td>
					<td>
						<input type = "text" name = "travel_distance01" /></td>
					<td>
						<input type = "text" name = "travel_rac01" /></td>
				</tr>
                <tr>
					<td>
						<input type = "text" name = "travel_depart02" /></td>
					<td>
						<input type = "text" name = "travel_arrive02" /></td>
					<td>
						<input type = "text" name = "travel_method02" /></td>
					<td>
						<input type = "text" name = "travel_distance02" /></td>
					<td>
						<input type = "text" name = "travel_rac02" /></td>
				</tr>
                <tr>
					<td>
						<input type = "text" name = "travel_depart03" /></td>
					<td>
						<input type = "text" name = "travel_arrive03" /></td>
					<td>
						<input type = "text" name = "travel_method03" /></td>
					<td>
						<input type = "text" name = "travel_distance03" /></td>
					<td>
						<input type = "text" name = "travel_rac03" /></td>
				</tr>
				<tr>
					<td colspan="5" style="background-color: rgb(204, 204, 204); ">
						&nbsp;</td>
				</tr>
				<tr>
					<td colspan="5">
						Use the RAC chart below to calculate the risks of your above activities.</td>
				</tr>
				<tr>
					<td style="text-align: center; ">
						<strong>Hazard Severity</strong></td>
					<td style="text-align: center; ">
						<strong>A (Likely to Occur)</strong></td>
					<td style="text-align: center; ">
						<strong>B (Probably will Occur)</strong></td>
					<td style="text-align: center; ">
						<strong>C (May Occur)</strong></td>
					<td style="text-align: center; ">
						<strong>D (Unlikely to Occur)</strong></td>
				</tr>
				<tr>
					<td style="text-align: center; ">
						<strong>I</strong></td>
					<td style="text-align: center; ">
						1</td>
					<td style="text-align: center; ">
						1</td>
					<td style="text-align: center; ">
						2</td>
					<td style="text-align: center; ">
						3</td>
				</tr>
				<tr>
					<td style="text-align: center; ">
						<strong>II</strong></td>
					<td style="text-align: center; ">
						1</td>
					<td style="text-align: center; ">
						2</td>
					<td style="text-align: center; ">
						3</td>
					<td style="text-align: center; ">
						4</td>
				</tr>
				<tr>
					<td style="text-align: center; ">
						<strong>III</strong></td>
					<td style="text-align: center; ">
						2</td>
					<td style="text-align: center; ">
						3</td>
					<td style="text-align: center; ">
						4</td>
					<td style="text-align: center; ">
						5</td>
				</tr>
				<tr>
					<td style="text-align: center; ">
						<strong>IV</strong></td>
					<td style="text-align: center; ">
						3</td>
					<td style="text-align: center; ">
						4</td>
					<td style="text-align: center; ">
						5</td>
					<td style="text-align: center; ">
						5</td>
				</tr>
				<tr>
					<td colspan="5">
						<strong>Category I</strong> - The hazard may cause death.</td>
				</tr>
				<tr>
					<td colspan="5">
						<strong>Category II</strong> - The hazard may cause severe injury, illness, and/or property damage.</td>
				</tr>
				<tr>
					<td colspan="5">
						<strong>Category III</strong> - The hazard may cause minor injury, illness, and/or property damage.</td>
				</tr>
				<tr>
					<td colspan="5">
						<strong>Category IV</strong> - The hazard presents a minimal threat to personnel safety or health, and/or property.</td>
				</tr>
				<tr>
					<td colspan="5" style="background-color: rgb(204, 204, 204); ">
						&nbsp;</td>
				</tr>
				<tr>
					<td colspan="3" rowspan="1">
						<strong>Risk Mitigation Plan:</strong></td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<td colspan="3" rowspan="6">
						<textarea cols="80" rows="6" name="risk_mitigation_plan"></textarea></td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td colspan="3" rowspan="1" style="text-align: center; ">
						<strong>Reviewed by*</strong></td>
				</tr>
				<tr>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td style="text-align: center; ">
						<strong>Initials</strong></td>
					<td style="text-align: center; ">
						<strong>Date</strong></td>
				</tr>
				<tr>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						<strong>SL</strong></td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						<strong>PC</strong></td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						<strong>Saftey Officer</strong></td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2" rowspan="1">
						<strong>Signature:</strong></td>
					<td>
						<strong>CC</strong></td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						<strong>SEL</strong></td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						<strong>CO</strong></td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td colspan="3" rowspan="1">
						*counseling should be done to ensure proper assessment occurs</td>
				</tr>
			</tbody>
		</table>
    <input type="submit" value="Add Leisure Activities" />
</form>

<h3>Past ORM Chits: </h3>
<table>
{% for p in lChits %}
    <tr>
        <form action="ormView" method = "post">
        {% csrf_token %}
        <td>{{ p.date }}</td>
        <td>{% if p.approvalStatus == 0 %}APPROVED
            {%else%}
                {% if p.approvalStatus == -1 %}DENIED{%endif%}
                {% if p.approvalStatus > 0 %}PENDING{%endif%}
            {%endif%}
        </td>
            <td><input type = "hidden" name = "id" value = "{{ p.id }}" />
                <input type = "submit" value = "View Chit" /></td>
        </form>
    </tr>
{% empty %}
    <tr><td>You have not submitted any ORM Chits.</td></tr>
{% endfor %}
</table>

{% endblock %}