{% extends "base.html" %}

{% block title %}Appoint Company Chain of Command members{% endblock %}

{% block content %}

<h3>Select midshipmen to serve in the Company Chain of Command.</h3>
    
<table>
<form action="saveAssignBillets" method="post">
{% csrf_token %}
    <tr>
        <td>Billet: </td>
        <td>Current billet holder:</td>
        <td>Start of tenure:</td>
        <td>Change to: </td>
    </tr>
    
    <tr>
    {% if not PC1 %}
        <td colspan = 3>Currently there is no First Platoon Commander</td>
    {% else %}
        <td>First Platoon Commander: </td><td>{{ PC1.mid }}</td><td>{{ PC1.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'PC1'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not PC2 %}
        <td colspan = 3>Currently there is no Second Platoon Commander</td>
    {% else %}
        <td>Second Platoon Commander: </td><td>{{ PC2.mid }}</td><td>{{ PC2.startDate }}</td>
    {%endif%}
        <td>
            <select name = 'PC2'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not PC3 %}
        <td colspan = 3>Currently there is no Third Platoon Commander</td>
    {% else %}
        <td>Third Platoon Commander: </td><td>{{ PC3.mid }}</td><td>{{ PC3.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'PC3'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not PC4 %}
        <td colspan = 3>Currently there is no Fourth Platoon Commander</td>
    {% else %}
        <td>Fourth Platoon Commander: </td><td>{{ PC4.mid }}</td><td>{{ PC4.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'PC4'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not PLS1 %}
        <td colspan = 3>Currently there is no First Platoon Sargeant</td>
    {% else %}
        <td>First Platoon Sargeant: </td><td>{{ PLS1.mid }}</td><td>{{ PLS1.startDate }}</td>
    {%endif%}
        <td>
            <select name = 'PLS1'>
                <option value = "000000">No change</option>
                {% for p in lMidsTwo %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not PLS2 %}
        <td colspan = 3>Currently there is no Second Platoon Sargeant</td>
    {% else %}
        <td>Second Platoon Sargeant: </td><td>{{ PLS2.mid }}</td><td>{{ PLS2.startDate }}</td>
    {%endif%}
        <td>
            <select name = 'PLS2'>
                <option value = "000000">No change</option>
                {% for p in lMidsTwo %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not PLS3 %}
        <td colspan = 3>Currently there is no Third Platoon Sargeant</td>
    {% else %}
        <td>Third Platoon Sargeant: </td><td>{{ PLS3.mid }}</td><td>{{ PLS3.startDate }}</td>
    {%endif%}
        <td>
            <select name = 'PLS3'>
                <option value = "000000">No change</option>
                {% for p in lMidsTwo %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not PLS4 %}
        <td colspan = 3>Currently there is no Fourth Platoon Sargeant</td>
    {% else %}
        <td>Fourth Platoon Sargeant: </td><td>{{ PLS4.mid }}</td><td>{{ PLS4.startDate }}</td>
    {%endif%}
        <td>
            <select name = 'PLS4'>
                <option value = "000000">No change</option>
                {% for p in lMidsTwo %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL1 %}
        <td colspan = 3>Currently there is no 1-1 Squad Leader</td>
    {% else %}
        <td>1-1 Squad Leader: </td><td>{{ SL1.mid }}</td><td>{{ SL1.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL1'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL2 %}
        <td colspan = 3>Currently there is no 1-2 Squad Leader</td>
    {% else %}
        <td>1-2 Squad Leader: </td><td>{{ SL2.mid }}</td><td>{{ SL2.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL2'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL3 %}
        <td colspan = 3>Currently there is no 1-3 Squad Leader</td>
    {% else %}
        <td>1-3 Squad Leader: </td><td>{{ SL3.mid }}</td><td>{{ SL3.startDate }}</td>
    {%endif%}
        <td>
            <select name = 'SL3'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL4 %}
        <td colspan = 3>Currently there is no 2-1 Squad Leader</td>
    {% else %}
        <td>2-1 Squad Leader: </td><td>{{ SL4.mid }}</td><td>{{ Sl4.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL4'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL5 %}
        <td colspan = 3>Currently there is no 2-2 Squad Leader</td>
    {% else %}
        <td>2-2 Squad Leader: </td><td>{{ SL5.mid }}</td><td>{{ SL5.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL5'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL6 %}
        <td colspan = 3>Currently there is no 2-3 Squad Leaderr</td>
    {% else %}
        <td>2-3 Squad Leader: </td><td>{{ SL6.mid }}</td><td>{{ SL6.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL6'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL7 %}
        <td colspan = 3>Currently there is no 3-1 Squad Leader</td>
    {% else %}
        <td>3-1 Squad Leader: </td><td>{{ SL7.mid }}</td><td>{{ SL7.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL7'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL8 %}
        <td colspan = 3>Currently there is no 3-2 Squad Leader</td>
    {% else %}
        <td>3-2 Squad Leader: </td><td>{{ SL8.mid }}</td><td>{{ SL8.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL8'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL9 %}
        <td colspan = 3>Currently there is no 3-3 Squad Leader</td>
    {% else %}
        <td>3-3 Squad Leader: </td><td>{{ SL9.mid }}</td><td>{{ SL9.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL9'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL10 %}
        <td colspan = 3>Currently there is no 4-1 Squad Leader</td>
    {% else %}
        <td>4-1 Squad Leader: </td><td>{{ Sl10.mid }}</td><td>{{ Sl10.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL10'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL11 %}
        <td colspan = 3>Currently there is no 4-2 Squad Leader</td>
    {% else %}
        <td>Financial Officer: </td><td>{{ SL11.mid }}</td><td>{{ SL11.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL11'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr>
    {% if not SL12 %}
        <td colspan = 3>Currently there is no 4-3 Squad Leader</td>
    {% else %}
        <td>4-3 Squad Leader: </td><td>{{ SL12.mid }}</td><td>{{ Sl12.startDate }}</td> 
    {%endif%}
        <td>
            <select name = 'SL12'>
                <option value = "000000">No change</option>
                {% for p in lMidsOne %}
                    <option value="{{ p.alpha }}">{{ p.alpha }} - {{ p.LName }}, {{ p.fName }} {{ p.mName }} </option>
                {% empty %}
                    <option value = "000000">N/A</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    
    <tr><td colspan = 4><input type="submit" value="Appoint, starting immediately" /></td></tr>
</form>
</table>

{% endblock %}