{% extends "base.html" %}

{% block title %}CMS - CO Homepage{% endblock %}

{% block content %}
    <h1>Welcome, {{ cCompany }} Company Officer.</h1>
    
    <h3>What would you like to do?</h3>
    
    <ul>
        <li>Weekends:</li>
            <ul>
                <li><a href = "weekends/co">Approve Weekends</a></li>
                <li><a href = "weekends/grantWeekends">Manually add midshipmen to a weekend list</a></li>
                <li><a href = "weekends/view">View Weekend List</a></li>
            </ul>
        
        <li><a href = "logout">Log out</a></li >
    </ul>
{% endblock %}