{% extends "base.html" %}
{% block title %}Uniform Inspection{% endblock %}
{% block content %}

<h1>Enter Uniform Inspection for {{ cInspectee.LName }} ({{ cInspectee.alpha }}).</h1>

<form action="uInsSave" method="post">
{% csrf_token %}
<table>
    <tr>
        <td><input type="checkbox" name="groomingShave" checked="true"/></td>
        <td> Grooming: Shaved </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="groomingLength" checked="true"/></td>
        <td> Grooming: Hair within regs </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="groomingAppearance" checked="true"/></td>
        <td> Grooming: Neat appearance </td>
    </tr>
    
    <tr>
        <td><br /><input type="checkbox" name="missingItems" checked="true"/></td>
        <td><br /> Uniform: No missing articles </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="appearance" checked="true"/></td>
        <td> Uniform: Neat appearance </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="IPs" checked="true"/></td>
        <td> Uniform: No IP-s present </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="dust" checked="true"/></td>
        <td> Uniform: No specks of dust/dirt </td>
    </tr>

    <tr>
        <td><br /><input type="checkbox" name="coverDirtRing" checked="true"/></td>
        <td><br /> Cover: Clean </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="coverCleanBill" checked="true"/></td>
        <td> Cover: No scratches on bill </td>
    </tr>
    
    <tr>
        <td><br /><input type="checkbox" name="ribbons" checked="true"/></td>
        <td><br /> Shirt: Ribbons/nametag properly placed/not tarnished </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="shirtInsigniaPlacement" checked="true"/></td>
        <td> Shirt: Collar devices properly placed/not tarnished </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="shirtProperTie" checked="true"/></td>
        <td> Shirt: Good tie knot/neck tab </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="IDProperlyDisplayed" checked="true"/></td>
        <td> Shirt: Proper ID placement </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="shirtUndershirt" checked="true"/></td>
        <td> Shirt: No undershirt showing</td>
    </tr>
    <tr>
        <td><input type="checkbox" name="creasesPresent" checked="true"/></td>
        <td> Shirt: Good creases </td>
    </tr>
    
    <tr>
        <td><br /><input type="checkbox" name="beltBuckleTip" checked="true"/></td>
        <td><br /> Belt: Buckle shiny and not scratched </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="gigLine" checked="true"/></td>
        <td> Belt: Good gig-line </td>
    </tr>
    <tr>
        <td><br /><input type="checkbox" name="trousersProperLength" checked="true"/></td>
        <td><br /> Trousers: Proper length/fit </td>
    </tr>
    <tr>
        <td><br /><input type="checkbox" name="shinedShoes" checked="true"/></td>
        <td><br /> Shoes: Well shined </td>
    </tr>
    
    <tr>
        <td colspan = 2><br />Comment: <input type = "text" name = "comment" /> </td>
    </tr>
    
    <tr>
        <td colspan = 2><br /><input type = "submit" value="Submit Inspection" />
             <input type="hidden" name="alpha" value="{{cMid.alpha}}"></td>
    </tr>
    
</form>
</table>

{% endblock %}