{% extends "base.html" %}
{% load filters %}
{% block title %}Special Request Chit{% endblock %}
{% block content %}

<h1>Reviewing Special Request Chit {{ cChit.id }}.</h1>

<table border="1px">
<tr>
	<td> Special Request
<tr class="SR_lable">
    <td>To: </td>
    <td>From: </td>
    <td>Alpha Number
</tr>
<tr class="SR_field">
	<td>{{ cChit.get_toLine_display }}</td>
	<td>{{ cChit.fromLine }}</td>
	<td>{{ cChit.mid.aplha }}</td>
</tr>
<tr>
    <td>Via: </td>
    <td>Class Year</td>
    <td>Company</td>
    <td>Room Number</td>
    <td>Rank</td>
</tr>
<tr>
	<td>{{ cChit.viaLine }}</td>
	<td>{{ cChit.mid.alpha|alphaToClassYear}}</td>
	<td>{{ cChit.mid.company }}</td>
	<td>{{ cChit.mid.roomNumber }}</td>
	<!--todo-->
	<td>MIDN _/C</td>
</tr>
<tr>
	<td>REF<td>
	<td>SQPR</td>
	<td>SQPR</td>
	<td>Perf. Grade</td>
	<Conduct Grade</td>
</tr>
<tr>
	<td>COMDTMIDNINST 5400.6M (17 Aug 10)</td>
	<td>{{ cChit.mid.SQPR }}</td>
	<td>{{ cChit.mid.CQPR }}</td>
	<td>{{ cChit.mid.performanceGrade }}</td>
	<td>{{ cChit.mid.conductGrade }}</td>
<tr>
	<td>I Respectfully Request (Type):
</tr>
<tr>
    <td>Purpose: </td>
    <td>{%if cChit.requestType == 'O' %}
            {{ cChit.otherRequestType }}
        {% else %}
            {{ cChit.get_requestType_display }}
        {% endif %}
    </td>
</tr>

<tr>
    <td>Remarks or Reasons: </td>
</tr>
<tr>
    <td>{{ cChit.justification }}</td>
</tr>
<tr>
    <td colspan = 2>Approval: </td>
</tr>

<tr>
    <td>Squad Leader: </td><td>{%if not cChit.squadLeaderApproval %}
                                    PENDING
                               {% else %}
                                    {%if cChit.squadLeaderApproval == True%} APPROVED {% endif %}
                                    {%if cChit.squadLeaderApproval == False%} DENIED {% endif %}
                               {%endif%}
    </td>
</tr>

{%if cChit.approvalLevel > 1 and cChit.approvalStatus > 1%}
<tr>
    <td>Platoon Commander: </td><td>{%if not cChit.platoonLeaderApproval %}
                                PENDING
                               {% else %}
                               {%if cChit.platoonLeaderApproval == True%}
                               APPROVED{%endif%}
                               {%if cChit.platoonLeaderApproval == False%}
                               DENIED{%endif%}
                               {%endif%}
    </td>
</tr>
{%endif%}

{%if cChit.approvalLevel > 2 and cChit.approvalStatus > 2%}
<tr>
    <td>Company Commander: </td><td>{%if not cChit.companyCommanderApproval %}
                                PENDING
                               {% else %}
                               {%if cChit.companyCommanderApproval == True%}
                               APPROVED{%endif%}
                               {%if cChit.companyCommanderApproval == False%}
                               DENIED{%endif%}
                               {%endif%}
    </td>
</tr>
{%endif%}

{%if cChit.approvalLevel > 3 and cChit.approvalStatus > 3%}
<tr>
    <td>SEL: </td><td>{%if not cChit.companySELApproval %}
                                PENDING
                               {% else %}
                               {%if cChit.companySELApproval == True%}
                               APPROVED{%endif%}
                               {%if cChit.companySELApproval == False%}
                               DENIED{%endif%}
                               {%endif%}
    </td>
</tr>
{%endif%}

{%if cChit.approvalLevel > 4 and cChit.approvalStatus > 4%}
<tr>
    <td>Company Officer: </td><td>{%if not cChit.companyOfficer %}
                                PENDING
                               {% else %}
                               {%if cChit.companyOfficer == True%}
                               APPROVED{%endif%}
                               {%if cChit.companyOfficer == False%}
                               DENIED{%endif%}
                               {%endif%}
    </td>
</tr>
{%endif%}

</table>

{% endblock %}